# Build and Release Folders
FunctionalTesting/bin/
FunctionalTesting/obj/
IntegrationTesting/bin/
IntegrationTesting/obj/
UnitTesting/bin/
UnitTesting/obj/
WebAppPipeline/bin/
WebAppPipeline/obj/
Lib/bin/
Lib/obj/



